.header {
  display: flex;
  padding: 18px 70px;
}

.header__button-list {
  margin: auto 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: baseline;
  list-style-type: none;
}

.header__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.header__button_type_login {
  margin-left: 30px;
  width: 76px;
  padding: 7px 0;
  background-color: rgba(61, 220, 132, 1);
  color: rgba(0,0,0,1);
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 14px;
  }

  .header__button {
    font-size: 10px;
  }
  .header__button_type_login {
    margin-left: 14px;
    padding: 5px 0;
    width: 54px;
  }
}